/*** The integral css of Index Page (HomePage)  Component ***/


@import '~antd/dist/antd.css';         /* Index Page: AntDesign comp library for {title, header-content-footer} */
@import './styles/ObserverInfo.css';   /* Observer Info component: LeftUp corner */
@import './styles/SatelliteList.css';  /* Satellite List Info component: LeftBottom corner */
@import './styles/WorldMap.css';       /* world Map Section: Progress Bar + Globe */

.App-logo
{
  height: 60px;
  padding-left: auto;
  color:white;
  margin-left: 45%;
}

.title
{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  font-style: italic;
  font-family: Verdana, Helvetica, Arial, 'Times New Roman', Times, serif;
  margin-top: auto;
  margin-left: 0%;
}



.ant-layout-header
{
  /* background-color: #7dbcea; */
  background-image:url('images/milkyway2cropped.jpg');
  background-size: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  /* color: #1f6099; */
  box-shadow: rgb(220,220,220) 0px 10px;

}


.ant-layout-content
{
  background: #fff;
  min-height: 100px;
}


.ant-layout-footer {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background-color: #7dbcea; */
  /* background-image:url('images/giphy.gif'); */

  background-image:url('images/satelliteEarth.gif' ); 
  height: 90px;

  background-size: 100% 100%;

  color: #fff;
  /* font-weight: bold; */
  
}


